body {
  background:
    rgb(#aba9a9);
}

span.spacing {
  padding: 3px;
}


span.show-info:hover::after {
  content: attr(title);
  padding: 5px;
  border: 1px solid #ccc;
  top: 5px;
  right: 10%;
  background: #bada55;
  position: fixed;
  z-index: 100000;
  font-family: 'Roboto';
}

span.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}