@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background:
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


span.spacing {
  border-width: 3px;
  border-color: transparent;
}


span.show-info:hover::after {
  content: attr(title);
  padding:5px;
  border:1px solid #ccc;
  top:5px;
  right:10%;
  background: #bada55;
  position: fixed;
}
