<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Submit Form</title>
</head>
<body>
    <h1>Compare Text</h1>
    <form action="/compare"
        method="post"
        enctype="multipart/form-data"
        id="form" name="form"
    >
        <label for="textA">Text A</label>
        <input name="textA" type="file" />
        <br/>
        <label for="textB">Text B</label>
        <input name="textB" type="file" />
        <br/>

        <label for="minLen">Min Len</label>
        <input name="minLen" type="number" />
        <br/>

        <label for="ratio">Edit Ratio</label>
        <input name="ratio" step="0.001" min="0" max="1" type="number" />
        <br/>

        <input name="submitButton" type="submit" value="Submit" />
    </form>
    <div id="progress" style="display: none;">
        <progress max="100"></progress>
        <p>Processing... please wait</p>
    </div>
    <script>
        document.getElementById('form').addEventListener('submit', function(event) {
            console.log('submit');
            const progress = document.getElementById('progress');
            progress.style.display = 'block';
        });
    </script>
</body>
</html>